body {
    font-family: sans-serif;
    margin-top:auto;
} 

.center {
    text-align:center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: none;
}

.container {
       max-width:500;
        margin:left;
         color:brown#4d968f;
    font-family: sans-serlf;
     padding-top: 100; 
      padding-left:100 ;
      padding-right:none;
         }